<section class="container mx-auto bg-gray-50">
	<div class="flex flex-col justify-center text-center items-center h-screen">
		<h1 class="text-6xl font-semibold max-w-[400px]">
			Find your Crush in the places you love.
		</h1>
		<div class="flex flex-row gap-4">
			<a
				href="../pages/sign-in.html"
				class="mt-4 inline-block px-4 py-2 bg-black rounded-full text-white font-semibold"
				>Sign in</a
			>
			<a
				href="../pages/demo.html"
				class="mt-4 inline-block px-4 py-2 bg-white border border-black rounded-full text-black font-semibold"
				>Demo</a
			>
		</div>
	</div>
</section>
